.custom-carousel {
    margin-top: 10px;
    height: 400px;
    align-items: center;
}

.custom-details {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    /* color: #FFFFFF;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-details i {
    font-size: 4rem;
    transition: 1s;
}

.custom-details:hover i {
    color: red;
    transform: rotate(90deg);
    transition: 1s;
}